[submodule "config/pack/my-plugins/start/nvim-treesitter"]
	path = config/pack/my-plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "config/pack/my-plugins/start/Comment.nvim"]
	path = config/pack/my-plugins/start/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim
[submodule "config/pack/my-plugins/start/plenary.nvim"]
	path = config/pack/my-plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "config/pack/my-plugins/start/nvim-lspconfig"]
	path = config/pack/my-plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "config/pack/my-plugins/start/nvim-cmp"]
	path = config/pack/my-plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "config/pack/my-plugins/start/cmp-nvim-lsp"]
	path = config/pack/my-plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "config/pack/my-plugins/start/cmp-buffer"]
	path = config/pack/my-plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "config/pack/my-plugins/start/cmp-path"]
	path = config/pack/my-plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "config/pack/my-plugins/start/cmp-cmdline"]
	path = config/pack/my-plugins/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "config/pack/my-plugins/start/dressing.nvim"]
	path = config/pack/my-plugins/start/dressing.nvim
	url = https://github.com/stevearc/dressing.nvim
[submodule "config/pack/my-plugins/start/mini.files"]
	path = config/pack/my-plugins/start/mini.files
	url = https://github.com/echasnovski/mini.files
[submodule "config/pack/my-plugins/start/nvim-navic"]
	path = config/pack/my-plugins/start/nvim-navic
	url = https://github.com/SmiteshP/nvim-navic
[submodule "config/pack/my-plugins/start/bufferline.nvim"]
	path = config/pack/my-plugins/start/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim
[submodule "config/pack/my-plugins/start/nvim-web-devicons"]
	path = config/pack/my-plugins/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "config/pack/my-plugins/start/gitsigns.nvim"]
	path = config/pack/my-plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "config/pack/my-plugins/start/which-key.nvim"]
	path = config/pack/my-plugins/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "config/pack/my-plugins/start/nvim"]
	path = config/pack/my-plugins/start/nvim
	url = https://github.com/catppuccin/nvim
[submodule "config/pack/my-plugins/start/github-nvim-theme"]
	path = config/pack/my-plugins/start/github-nvim-theme
	url = https://github.com/projekt0n/github-nvim-theme
[submodule "config/pack/my-plugins/start/kanagawa.nvim"]
	path = config/pack/my-plugins/start/kanagawa.nvim
	url = https://github.com/rebelot/kanagawa.nvim
[submodule "config/pack/my-plugins/start/nightfox.nvim"]
	path = config/pack/my-plugins/start/nightfox.nvim
	url = https://github.com/EdenEast/nightfox.nvim
[submodule "config/pack/my-plugins/start/lsp_signature.nvim"]
	path = config/pack/my-plugins/start/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "config/pack/my-plugins/start/diffview.nvim"]
	path = config/pack/my-plugins/start/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim
[submodule "config/pack/my-plugins/start/mini.icons"]
	path = config/pack/my-plugins/start/mini.icons
	url = https://github.com/echasnovski/mini.icons
[submodule "config/pack/my-plugins/start/minimap.vim"]
	path = config/pack/my-plugins/start/minimap.vim
	url = https://github.com/wfxr/minimap.vim
[submodule "config/pack/my-plugins/start/aerial.nvim"]
	path = config/pack/my-plugins/start/aerial.nvim
	url = https://github.com/stevearc/aerial.nvim
[submodule "config/pack/my-plugins/start/nvim-nio"]
	path = config/pack/my-plugins/start/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio.git
[submodule "config/pack/my-plugins/start/nui.nvim"]
	path = config/pack/my-plugins/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "config/pack/my-plugins/start/alpha-nvim"]
	path = config/pack/my-plugins/start/alpha-nvim
	url = https://github.com/goolord/alpha-nvim.git
[submodule "config/pack/my-plugins/start/lualine.nvim"]
	path = config/pack/my-plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "config/pack/my-plugins/start/winbar.nvim"]
	path = config/pack/my-plugins/start/winbar.nvim
	url = https://github.com/fgheng/winbar.nvim.git
[submodule "config/pack/my-plugins/start/mini.nvim"]
	path = config/pack/my-plugins/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim.git
[submodule "config/pack/my-plugins/start/mini.extra"]
	path = config/pack/my-plugins/start/mini.extra
	url = https://github.com/echasnovski/mini.extra.git
[submodule "config/pack/my-plugins/start/vim-illuminate"]
	path = config/pack/my-plugins/start/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "config/pack/my-plugins/start/blame.nvim"]
	path = config/pack/my-plugins/start/blame.nvim
	url = https://github.com/FabijanZulj/blame.nvim
